.wrap {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.left-top-circle {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 15%;
    height: 15%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 1;
}

.left-top-circle:hover {
    background-color: teal;
    z-index: 15;
}

.right-top-circle {
    position: absolute;
    left: 55%;
    top: 10%;
    width: 15%;
    height: 15%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 2;
}

.right-top-circle:hover {
    background-color: yellow;
    z-index: 15;
}

.left-bot-circle {
    position: absolute;
    left: 25%;
    bottom: 45%;
    width: 15%;
    height: 15%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 3;
}

.left-bot-circle:hover {
    background-color: violet;
    z-index: 15;
}

.right-bot-circle {
    position: absolute;
    left: 55%;
    bottom: 45%;
    width: 15%;
    height: 15%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 4;
}

.right-bot-circle:hover {
    background-color: goldenrod;
    z-index: 15;
}


.big-box {
    position: absolute;
    bottom: 52%;
    left: 32%;
    width: 30%;
    height: 30%;
    background-color: rgb(0,162,255);
    z-index: 5;
}

.big-box:hover {
    background-color: indigo;
    z-index: 20;
}

.small-box {
    position: absolute;
    left: 37%;
    top: 23%;
    width: 20%;
    height: 20%;
    background-color: rgb(248,186,0);
    border-radius: 10%;
    z-index: 6;
}

.small-box:hover {
    z-index: 30;
}
