.wrap {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.first-circle {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 1;
}

.first-circle:hover {
    background-color: teal;
    z-index: 15;
}

.second-circle {
    position: relative;
    left: 20%;
    bottom: 10%;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 2;
}

.second-circle:hover {
    background-color: yellow;
    z-index: 15;
}

.third-circle {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 3;
}

.third-circle:hover {
    background-color: violet;
    z-index: 15;
}

.forth-circle {
    position: relative;
    left: 20%;
    bottom: 10%;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: rgb(238,34,12) ;
    z-index: 4;
}

.forth-circle:hover {
    background-color: goldenrod;
    z-index: 15;
}


.first-box {
    position: relative;
    bottom: 35%;
    left: 5%;
    width: 20%;
    height: 20%;
    background-color: rgb(0,162,255);
    z-index: 5;
}

.first-box:hover {
    background-color: indigo;
    z-index: 15;
}

.second-box {
    position: relative;
    left: 25%;
    top: 25%;
    z-index: 20;
    width: 50%;
    height: 50%;
    background-color: rgb(248,186,0);
    border-radius: 10%;
}

/* .second-box:hover {
    z-index: 10;

} */